<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>¡Atenci&oacute;n!</strong> Este juego de la vida se ejecuta en tiempo real en el servidor <a href="#" class="alert-link">si cierras la aplicaci&oacute;n</a> el juego continuar&aacute; ejecut&aacute;ndose.
</div>

<div class="row">
  <div class="col-md-4">
  	<h4>Instrucciones</h4>
  	<p class="text-justify">Este juego de la vida est&aacute; basado en las reglas de Conway, el cual es referido como <strong>23/3</strong>. Este juego se corre en tiempo real ajust&aacute;ndose a los ciclos del servidor.</p>
  	<p class="text-justify"><i class="fa fa-hand-o-up"></i> Para Interactuar con el juego solo hay que dar clic dentro del mundo</p>

  	<p class="text-justify"><i class="fa fa-exclamation"></i> Otros Usuarios que vean el juego pueden interactuar con &eacute;l por lo que se veran reflejados.</p>
  </div>
  <div class="col-md-8">
  	<canvas id="game" width="600" height="400"></canvas>
  </div>
</div>


<script src="modules/game/misc/game.js"></script>